<p id="notice"><%= notice %></p>


<p>
  <strong>Nome:</strong>
  <%= @apresentacao.name %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @apresentacao.descricao %>
</p>


<p>
  <strong>Horario:</strong>
  <%= @apresentacao.horario %>
</p>

<p>
  <strong>Ingressos total:</strong>
  <%= @apresentacao.ingressos_total %>
</p>

<p>
  <strong>Disponiveis:</strong>
  <%= @apresentacao.disponiveis %>
</p>

<%= link_to 'Edit', edit_apresentacao_path(@apresentacao) %> |
<%= link_to 'Back', apresentacaos_path %>
