<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table class="table table-stripped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="col" colspan="1">Evento</th>
      <th class="col">Começa em</th>
      <th class="col">Termina em</th>
      <th class="col">Criado por</th>
      <th class="col">Tipo de Evento</th>
      <th class="col">Faixa Etaria</th>
      <th class="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.title %></td>
        <td><%= evento.date_begin.strftime("%d/%m/%Y - %H:%M")  %></td>
        <td><%= evento.date_end.strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= evento.user.email %></td>
        <td><%= evento.classes_evento.classe %></td>
        <td><%= evento.faixa_etarium.faixa_etaria %></td>
        <td><%= link_to 'Show', evento %></td>
        <% if (user_signed_in?)and((current_user.adm == true)||(current_user == evento.user)) %>
          <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
          <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
