<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @evento.title %>
</p>

<p>
  <strong>Date begin:</strong>
  <%= @evento.date_begin.strftime("%d/%B/%Y - %I:%M%p") %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @evento.date_end.strftime("%d/%B/%Y - %I:%M%p") %>
</p>

<p>
  <strong>Adm do evento:</strong>
  <%= @evento.user.email %>
</p>

<p>
  <strong>Faixa Etaria:</strong>
  <%= @evento.faixa_etarium.faixa_etaria %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @evento.classes_evento.classe %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
