<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @evento.title %>
</p>

<p>
  <strong>Date begin:</strong>
  <%= @evento.date_begin %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @evento.date_end %>
</p>

<p>
  <strong>Tickets total:</strong>
  <%= @evento.tickets_total %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
