<p id="notice"><%= notice %></p>

<p>
  <strong>Cidade nome:</strong>
  <%= @cidade.cidade_nome %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cidade.estado.name %>
</p>

<%= link_to 'Edit', edit_cidade_path(@cidade, estado: @cidade.estado) %> |
<%= link_to 'Back', "/estados/#{@estado}"  %>
