<% if (user_signed_in?)and(current_user.adm == true) %>




<p id="notice"><%= notice %></p>

<p>
  <strong>Faixa etaria:</strong>
  <%= @faixa_etarium.faixa_etaria %>
</p>

<p>
  <strong>Description:</strong>
  <%= @faixa_etarium.description %>
</p>

<%= link_to 'Edit', edit_faixa_etarium_path(@faixa_etarium) %> |
<%= link_to 'Back', faixa_etaria_path %>

<% else %>
  <p>Somente Adm</p>
  <a href="/">Voltar<a>
<% end %>