<!DOCTYPE html>
<html>
  <head>
    <title>eventop eventos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
  </head>

  <body >
    <header> 
      <div class="logo">
        <a href="/">eventop eventos<%= image_tag asset_path("logo.png", :alt => "ingressos logo") %> </a>
      </div>
      <div class="opcoes">
      <% if user_signed_in? %>
         <% if  (user_signed_in?)and(current_user.adm == true)%>
          Logado como:&nbsp; <strong>Administrador</strong> &ensp;
          <a href="/adm">Painel</a>
          <% else %>
          Logado como:&nbsp; <strong><%= current_user.name.split[0] %></strong> &ensp;
          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <a href="/users/sign_in">Sign in</a>
      <% end %>

        <a href="/eventos">Eventos</a>
        <a href="/classes_eventos">Classes</a>
        <a href="/faixa_etaria">Faixa Etaria</a>

      </div>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <br>
      <p> trabalho de engenharia de software - todos os direitos para o grupo </p>
    </footer>
  </body>
</html>
