<!DOCTYPE html>
<html>
  <head>
    <title>ingressos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
  </head>

  <body >
    <header> 
      <div class="logo">
        <a href="/"><%= image_tag asset_path("logo.png", :alt => "ingressos logo") %> </a>
      </div>
      <div class="opcoes">
        <a href="/users/sign_in">Sign in</a>
        <a href="/eventos">Eventos</a>
        <a href="/categories">Categorias</a>
        <a href="/estados">Estados</a>
        <a href="/cidades">Cidades</a>
        <a href="/apresentacaos">Apresentacoes</a>
        <a href="/classes_eventos">Classes</a>
        <a href="/faixa_etaria">Faixa Etaria</a>
      </div>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <p> trabalho de engenharia de software - todos os direitos para o grupo </p>
    </footer>
  </body>
</html>
